:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  /* active */
  --vp-c-brand-1: #ef3268;
  /* hover */
  --vp-c-brand-2: #d12c5b;
  /* bg */
  --vp-c-brand-3: #ef3268;

  /* --vp-c-bg: #e3f799;
  --vp-c-bg-soft: #eaf9b2;

  --vp-c-gutter: #575f3b;
  --vp-c-divider: #575f3b; */
  /*
  #ef3268
  #d12c5b
  #b3264e
  #951f41
  #771934
  #5a1327
  #3c0d1a
  #1e060d */
}


.VPImage.image-src {
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.VPImage.image-src:hover {
  transform: scale(1.1) translate(-50%, -40%);
}
